html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

.btn:focus {
  box-shadow: none;
}

input:focus {
  outline: none !important;
}

a {
  display: inline-block;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #002033;
  margin: 0;
  padding: 0;
  background: #edeef0;
}

::-webkit-scrollbar {
  width: 8px;
  background: #0042690f;
}

::-webkit-scrollbar-thumb {
  background: #0042693d;
  border-radius: 8px;
}

.wrapper {
  /* min-width: 1920px; */
  width: 100%;
  overflow: hidden;
}

.title {
  font-size: 23px;
  font-weight: 700;
  line-height: 32px;
}

.mt-4 {
  margin-top: 4px;
}

.mb-12 {
  margin-bottom: 12px;
}
.flex {
  display: flex;
}

.flex-item {
  display: flex;
  justify-content: center;
}
/* core style end */

/* intro */
.intro {
  padding-left: 16px;
  padding-right: 16px;
  padding: 15px 16px 36px 16px;
  background: #fff;
  height: calc(100vh - 48px);
  overflow-y: auto;
}

.intro .title {
  margin: 24px 0 28px 0;
}

.intro-box {
  max-width: 806px;
  margin: 0 auto;
}

.intro-box img {
  width: 160px;
  height: 120px;
}

.intro-cards {
  display: grid;
  margin-top: 20px;
  row-gap: 20px;
  grid-template-columns: 175px 175px 175px;
  justify-content: space-between;
}

.intro-card {
  text-align: center;
}

.page-info {
  text-align: center;
  margin-top: 16px;
}

/* intro end */